pandas
SQLAlchemy==2.0.23
fastapi
uvicorn
azure-functions
gunicorn
requests
jinja2
python-multipart
psycopg2-binary
tabulate
python-dotenv
matplotlib
mangum
urllib3==1.26.14
pyyaml
instructor
openpyxl
instructor